html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
}
.menu {
    width: 30%;      
    padding: 40px 40px 40px 40px;
    justify-content: center;
    background-color: #9bc8ec;   
}
.header {
    background-color: rgb(255, 255, 255);
    min-height: 150px;
    }
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    font-family: Helvetica, sans-serif;
}

h1 { 
    text-align: center;
    margin-top: -1%;
}
#borderMenu {
    border: 2px solid #9bc8ec;
    border-radius: 0px 0px 0px 0px;
    margin: 0 auto;   
}
.borderRodape {    
    border: 7px solid #38c19c;
    border-radius: 40px 40px 0px 0px;
    background-color: #38c19c;  
    color: #f1f1f1; 
    background-color: #38c19c;
    min-height: 100px;
    padding-left: 20px;
    margin-right:0%;   
}
.buttonmenu {
    border:none;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding: 10px;
    text-decoration:none;
    color: #38c19c;
    background-color: white;
    width: 200px;    
}    

img.logo {   
    display: block;
    margin-left: auto;
    margin-right: auto      
}
.Conheça {
    color:#38c19c; 
}
.jornada {
    color:darkgrey
}
.especialidades {
    color:#38c19c;     
}
table.especialidades{
    color: black;
    font-family: Helvetica, sans-serif;    
    font-weight: 600;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid white;
    table-layout: fixed;
    width: 700px;
    height: 300px;
    margin: 5% 12%;
    background: rgb(238, 236, 236);
}      
.horarios {
    color:#38c19c;
}
.sobre {
    color:#38c19c;
}
.localização {
    color:#38c19c;
}
.endereço {
    text-align: center;
}

table.consultas {
    border-collapse: collapse;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    border: 1px solid white;
    table-layout: fixed;
    width: 800px;
    height: 400px;
    margin: 5% 8%;
    background: rgb(238, 236, 236);    
}
table.consultas tr:nth-child(even) {
    background: rgb(216, 214, 214)    
}
thead {
background-color: rgb(104, 98, 98);
color: white;
}
iframe {
    margin-left: 140px;
    border-radius: 60px;
}




